<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="inc/layout">
<head>
    <meta charset="UTF-8">
    <title>Müşteriler</title>
</head>
<body>
<th:block layout:fragment="content">

    <div class="main-card mb-3 card mainCart mt-3">
        <div class="card-header cardHeader">Müşteriler</div>

        <div class="row mt-3" style="padding-right: 15px; padding-left: 15px;">
            <div class="col-sm-6">

                <div class="row">

                    <div class="col-sm-2 mt-2" style="margin-left: 5px">

                        <p style="color: black"> <b> Sayfa başına </b></p>

                    </div>

                    <div class="col-sm-2">

                        <select onchange="allCustomer()" class="form-select" name="cPage" id="cPage">
                            <option value="5" >5</option>
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="-1">Hepsi</option>
                        </select>

                    </div>

                    <div class="col-sm-7">



                    </div>


                </div>


            </div>
            <div class="col-sm-2"></div>
            <div class="col-sm-1"></div>
            <div class="col-sm-3">
                <div class="input-group flex-nowrap">
                    <span class="input-group-text" id="addon-wrapping"><i class="fas fa-search"></i></span>
                    <input onkeyup="fncSearch()" id="search" type="text" class="form-control" placeholder="Arama.." aria-label="contentSearch" aria-describedby="addon-wrapping">
                    <button id="contentSearch" class="btn btn-outline-primary">Ara</button>
                </div>
            </div>
        </div>





        <div class="table-responsive">

            <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col" class="text-center">Adı</th>
                    <th scope="col" class="text-center">Soyadı</th>
                    <th scope="col" class="text-center">Mail</th>
                    <th scope="col" class="text-center">Telefon</th>
                    <th scope="col" class="text-center">Ban</th>
                    <th scope="col" class="text-center">Sil</th>

                </tr>
                </thead>
                <tbody id="customerRow">

                </tbody>
            </table>
        </div>

    </div>
    <div class="row" >
        <div class="col-sm-5" >
            <div>1/1</div>
        </div>

        <div class="col-sm-7">
            <div style="float: right">
                <button type="button" onclick="changeVariables(0)"  class="btn btn-light"> İlk </button>
                <button  onclick="pageMinus()" type="button" class="btn btn-light"> <<< </button>
                <button id="btnPlus" onclick="pagePlus()" type="button" class="btn btn-light"> >>> </button>
                <button type="button"  onclick="changeVariables(-5)"  class="btn btn-light"> Son </button>
            </div>


        </div>
    </div>






</th:block>
<th:block layout:fragment="script">
    <script th:src="@{/js/customer.js}"></script>
</th:block>
</body>
</html>