
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Bootstrap Template</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="css/firstpage.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body data-spy="scroll" data-target="#myScrollspy">

<nav class="navbar navbar-default navbar-fixed-top" data-spy="affix" data-offset-top="205">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button> <a class="navbar-brand" href="#">JSON BULUT</a> </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">ANASAYFA</a></li>
                <li><a href="#about">HAKKIMIZDA</a></li>
                <li><a href="#images">GALERİ</a></li>
                <li><a href="#contact">İLETİŞİM</a></li>
                <li><a href="/login">Giriş Yap</a></li>
                <li><a href="/register">Kayıt Ol</a></li>
            </ul>
        </div>
    </div>
</nav>
<header style="background-image:url('https://www.jsonbulut.com/static/img/s3.jpg');">
    <div class="header-content">
        <div class="header-content-inner">
            <h1>JsonBulut V1.0 Beta</h1>
            <p>Ortamınızı inşa etmek için bize katılın. Mobil verileriniz JsonBulut ile tek tık uzaklıkta !

            </p>
        </div>
    </div>
</header>
<section class="about-section bg-color" id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
                <h3>Json Bulut</h3>
                <p>Anında güçlü bir bulut veritabanı eklemek için, "Json Bulut". Bu sloganla yola çıkarak Json Bulut dünyaya geldi. JsonBulut; vermiş olduğu hizmet ile mobil uygulamalarınızı kolaylıkla geliştirme imkanı sunacak. Oluşturduğunuz bulut veritabanı sadece bir tık uzağınızda olacak. Evde, işte, yolda nerede olursanız olun, JsonBulut ile veritabanınızı yanınızda taşıyacaksınız. Kullanıcı dostu site tasarımı, basit ve hızlı admin paneliyle JsonBulut size en hızlı şekilde hizmet vermek için hazır bekliyor.</p>
            </div>
        </div>
    </div>
</section>

<section class="service-section" id="services">
    <div class="container">
        <h3>service</h3>

        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="service-items">
                    <div class="icon">
                        <span class="glyphicon glyphicon-plane" aria-hidden="true"></span>
                    </div>
                    <h4><a href="#">Hemen Kayıt Ol</a></h4>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="service-items">
                    <div class="icon">
                        <span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
                    </div>
                    <h4><a href="#"> Kayıtlı mısın? Öyleyse Giriş Yap!</a></h4>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="service-items">
                    <div class="icon">
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    </div>
                    <h4><a href="#">Şifreni mi unutun? Bir daha olmasın</a></h4>

                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="service-items">
                    <div class="icon">
                        <span class="glyphicon glyphicon-sunglasses" aria-hidden="true"></span>
                    </div>
                    <h4><a href="#">Bizi Tanıyın!</a></h4>
                </div>
            </div>


        </div>
    </div>
</section>

<div id="images" class="container">

    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" >
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
            <li data-target="#carousel-example-generic" data-slide-to="4"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active" >
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <img  class="rounded" src="https://i.ibb.co/DM0GRzw/Dashboard.png" style=" object-fit:scale-down">
                    </div>
                </div>

            </div>
            <div class="item">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <img  class="rounded" src="https://i.ibb.co/DM0GRzw/Dashboard.png" style=" object-fit:scale-down">
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <img  class="rounded" src="https://i.ibb.co/DM0GRzw/Dashboard.png" style=" object-fit:scale-down">
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <img  class="rounded" src="https://i.ibb.co/DM0GRzw/Dashboard.png" style=" object-fit:scale-down">
                    </div>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

</div>



<footer id="vizyon">
    <div class="container">
        <div class="row">
           <div class="col-sm-4">
               <b><h4 style="color: white">Güvenli Veri Hizmetleri</h4></b>
               <hr>
               <p class="text-left">Şirketiniz için gerekli tüm bilgileri saklayabileceğiniz güvenilir veri depolama alanımıza bulunduğunuz her noktadan ulaşabilirsiniz. Verilerinizi depolama ve onlara kolaylıkla ulaşabilmeniz için sistemimize ücretsiz kayıt olabilirsiniz</p>
           </div>
            <div class="col-sm-4">
                <b><h4 style="color: white">Kullanışlı ve Esnek Admin Paneli</h4></b>
                <hr>
                <p class="text-left">Şirketinize ait kullanıcı ve müşteri ilişkilerinizi rahatlıkla kontrol edebileceğiniz ayrıca haber, reklam, ürün yönetimleri gibi birçok ihtiyacınızı karşılayabileceğiniz yönetim panelleri olabildiğince esnek ve anlaşılır şekilde tasarlanıp kullanımınıza sunuldu</p>
            </div>
            <div class="col-sm-4">
                <b><h4 style="color: white">Birçok Platforma Uyumlu Arayüz</h4></b>
                <hr>
                <p class="text-left">Görsel anlamda platform farketmeksizin (responsive) tasarlanmış uygulamamız mobil platformda basit kullanımıyla dikkatleri üzerine çekmeyi amaçlamış ve müşteri memnuniyetini en mühim hedef edinmiştir. Bizimle irtibata geçiniz...</p>
            </div>
        </div>
    </div>

</footer>

<section class="contacts2 cid-s1YPyUn2on" id="contact">
    <div class="container mbr-white">
        <div class="row justify-content-center">
            <div class="card first col-12 col-md-6 col-lg-4">
                <div class="card-wrapper align-center">
                    <div class="img-wrapper">
                        <span class="mbr-iconfont mobi-mbri-phone mobi-mbri"></span>
                    </div>
                    <div class="card-box align-center">

                        <h4 class="mbr-section-title pb-2 mbr-semibold mbr-fonts-style display-5">0212 212 XX XX</h4>
                        <p class="mbr-section-text align-center mbr-regular pb-2 mbr-fonts-style display-7">
                            Lorem ipsum dolor sit mattis amet consectetur adipiscing</p>

                        <div class="link-wrapper">
                            <span class="mbr-iconfont mobi-mbri-right mobi-mbri"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-4">
                <div class="card-wrapper align-center">
                    <div class="img-wrapper">
                        <span class="mbr-iconfont mobi-mbri-letter mobi-mbri"></span>
                    </div>
                    <div class="card-box align-center">

                        <h4 class="mbr-section-title pb-2 mbr-semibold mbr-fonts-style display-5">jsonbulut@yoursite.com</h4>
                        <p class="mbr-section-text align-center mbr-regular pb-2 mbr-fonts-style display-7">
                            Lorem ipsum dolor sit mattis amet consectetur adipiscing</p>

                        <div class="link-wrapper">
                            <span class="mbr-iconfont mobi-mbri-right mobi-mbri"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card last col-12 col-md-6 col-lg-4">
                <div class="card-wrapper align-center">
                    <div class="img-wrapper">
                        <span class="mbr-iconfont mobi-mbri-map-pin mobi-mbri"></span>
                    </div>
                    <div class="card-box align-center">

                        <h4 class="mbr-section-title pb-2 mbr-semibold mbr-fonts-style display-5">Office Street, 123</h4>
                        <p class="mbr-section-text align-center mbr-regular pb-2 mbr-fonts-style display-7">
                            Lorem ipsum dolor sit mattis amet consectetur adipiscing</p>

                        <div class="link-wrapper">
                            <span class="mbr-iconfont mobi-mbri-right mobi-mbri"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<!-- Latest compiled and minified JavaScript -->

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>

</html>