<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="inc/layout">
<head>
    <meta charset="UTF-8">
    <title>Gallery</title>
</head>
<body>
<th:block layout:fragment="content">

    <div class="main-card mb-3 card mainCart mt-3">
        <div class="card-header cardHeader">Galeriler</div>
        <div class="row">

            <div class="col-sm-3"></div>


            <div class="col-sm-6">
                <div class="main-card mb-3 card mainCart mt-3">
                    <div class="card-header cardHeader" style="background-color: #087EB0; color: white;text-align: center">Resim Düzenle</div>

                    <div class="row">

                            <div class="col-sm-4"></div>


                            <div class="col-sm-5" th:object="${galleryImage}">
                                    <div class="card mt-3 mb-3 ml-3" style="width: 18rem;">
                                        <img  th:src="@{/uploads/gallery/{image}(image=${ galleryImage.getGiname() })}" class="card-img-top" alt="" style="height: 200px;">
                                    </div>
                            </div>

                            <div class="col-sm-3"></div>



                    </div>


                    <div class="row" th:object="${gallery}">
                        <form  method="post" th:action="@{'/gallery/imageUpdate/'+${gallery.getGid()}+'/'+${galleryImage.getGiid()}}" class="row p-3" id="gallery_image_update_form" th:object="${galleryImage}">
                        <div class="col-md-4 mb-3 text-center">
                            <label for="gisubtitle" class="form-label" style="color: black"><b>Resim Açıklaması</b></label>
                        </div>
                        <div class="col-md-7 mb-3">
                            <input th:value="${galleryImage.getGisubtitle()}" type="text" name="gisubtitle" id="gisubtitle" class="form-control" required />
                        </div>
                        <div class="col-md-1"></div>



                            <div class="row">
                                <div class="col-md-7"></div>
                                <div class="col-md-4 mb-2">
                                    <div class="btn-group col-md-12" role="group">
                                        <button type="button" class="btn btn-danger mr-1">Sil</button>
                                        <button type="submit"  class="btn btn-info">Kaydet</button>
                                    </div>
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-sm-3"></div>
        </div>

    </div>


</th:block>
</body>
</html>