<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="inc/layout">
<head>
    <meta charset="UTF-8">
    <title>Gallery</title>
</head>
<body>
<th:block layout:fragment="content">

    <div class="main-card mb-3 card mainCart mt-3">
        <div class="card-header cardHeader">Galeriler</div>
        <div class="row">
            <div class="col-sm-6">
                <div class="card mt-3 mb-3 ml-3" style="width: 18rem;">
                    <img src="https://www.aquazemin.com/resimler/galeri_resimleri/thumbs/5e4e55c596b6f0.34760234.jpg" class="card-img-top" alt="...">
                    <div class="card-body" style="background-color: #002752;color: white">
                        <h5>
                            <div class="row">
                                <div class="col-sm-6"><a href="gallery/property" style="color: white">Yeni Galeri</a></div>
                                <div class="col-sm-3"></div>
                                <div class="col-sm-3">  <button  type="button" class="btn btn-outline-primary "><i class="far fa-trash-alt" style="color: white"></i></button></div>
                            </div>
                        </h5>
                    </div>
                </div>


            </div>
            <div class="col-sm-6">
                <div class="main-card mb-3 card mainCart mt-3">
                    <div class="card-header cardHeader" style="background-color: #087EB0; color: white">Yeni Galeri Oluştur</div>
                    <div class="col-md-8 mb-3 mt-3">
                        <input type="text" name="galleryname" id="galleryname" class="form-control" placeholder="Galerinin Adı" required />
                    </div>
                    <div class="col-md-8 mb-3 mt-3">
                        <input type="text" name="gallerdetail" id="gallerdetail" class="form-control" placeholder="Galerinin Açıklaması" required />
                    </div>
                    <div class="form-check ml-3">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Aktif
                        </label>
                    </div>
                    <div class="form-check ml-3">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                        <label class="form-check-label" for="flexRadioDefault2">
                            Pasif
                        </label>
                    </div>
                    <div class="row">
                        <div class="col-sm-5 mb-3">
                            <button type="button" class="btn ml-3" style="background-color:#087EB0; color: white ">Galeri Oluştur</button>
                        </div>
                    </div>


                    </div>
                </div>
            </div>
        </div>


</th:block>
</body>
</html>