<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="inc/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block layout:fragment="content">

    <div class="main-card mb-3 card mainCart mt-3">
        <div class="card-header cardHeader text-center"> <h4>Bütün Beğeniler</h4> </div>

        <div class="row mt-3" style="padding-right: 15px; padding-left: 15px;">
            <div class="col-sm-6">

                <div class="row">

                    <div class="col-sm-2 mt-2" style="margin-left: 5px">

                        <p style="color: black"> <b> Sayfa başına </b></p>

                    </div>

                    <div class="col-sm-2">



                    </div>

                    <div class="col-sm-7">



                    </div>


                </div>


            </div>
            <div class="col-sm-2"></div>
            <div class="col-sm-1"></div>
            <div class="col-sm-3">
                <div class="input-group flex-nowrap">

                </div>
            </div>
        </div>





        <div class="table-responsive">

            <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                <thead>
                <tr>
                    <th scope="col">Müşteri</th>
                    <th scope="col">Ürün</th>
                    <th scope="col">Puan</th>
                    <th scope="col">Tarih</th>

                </tr>
                </thead>
                <tbody id="likesRow">
                <tr th:each="item,iter : ${allLikes} ">
                    <td th:text="${item.getCname()}"></td>
                    <td th:text="${item.getPname()}"></td>
                    <td  th:text="${item.getUserpoint()}"></td>
                    <td th:text="${item.getLikedate()}"></td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
    <div class="row" >
        <div class="col-sm-5" >

        </div>

        <div class="col-sm-7">
            <div style="float: right">

            </div>


        </div>
    </div>


    <div class="main-card mb-3 card mainCart mt-3">
        <div class="card-header cardHeader text-center"> <h4>Ürünlerin Toplam Beğenileri</h4> </div>

        <div class="row mt-3" style="padding-right: 15px; padding-left: 15px;">
            <div class="col-sm-6">

                <div class="row">

                    <div class="col-sm-2 mt-2" style="margin-left: 5px">



                    </div>

                    <div class="col-sm-2">



                    </div>

                    <div class="col-sm-7">



                    </div>


                </div>


            </div>
            <div class="col-sm-2"></div>
            <div class="col-sm-1"></div>
            <div class="col-sm-3">
                <div class="input-group flex-nowrap">

                </div>
            </div>
        </div>





        <div class="table-responsive">

            <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                <thead>
                <tr>
                    <th scope="col">Ürün</th>
                    <th scope="col">Toplam Puan</th>

                </tr>
                </thead>
                <tbody id="likeTotalRow">
                <tr th:each="item,iter : ${productLike}" >
                    <td th:text="${item.getPname()}"></td>
                    <td th:text="${item.getAvg()}"></td>

                </tr>
                </tbody>
            </table>
        </div>

    </div>
    <div class="row" >
        <div class="col-sm-5" >

        </div>

        <div class="col-sm-7">
            <div style="float: right">

            </div>


        </div>
    </div>


</th:block>
</body>
</html>