<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="inc/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block layout:fragment="content">

    <div class="main-card mb-3 card mainCart mt-3">
        <div class="card-header cardHeader text-center"> <h4>Bütün Beğeniler</h4> </div>

        <div class="row mt-3" style="padding-right: 15px; padding-left: 15px;">
            <div class="col-sm-6">

                <div class="row">

                    <div class="col-sm-2 mt-2" style="margin-left: 5px">

                        <p style="color: black"> <b> Sayfa başına </b></p>

                    </div>

                    <div class="col-sm-2">

                        <select class="form-select" name="lPage" id="lPage">
                            <option value="5" >5</option>
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="-1">Hepsi</option>
                        </select>

                    </div>

                    <div class="col-sm-7">



                    </div>


                </div>


            </div>
            <div class="col-sm-2"></div>
            <div class="col-sm-1"></div>
            <div class="col-sm-3">
                <div class="input-group flex-nowrap">
                    <span class="input-group-text" id="addon-wrapping"><i class="fas fa-search"></i></span>
                    <input id="lsearch" type="text" class="form-control" placeholder="Arama.." aria-label="contentSearch" aria-describedby="addon-wrapping">
                    <button id="likesSearch" class="btn btn-outline-primary">Ara</button>
                </div>
            </div>
        </div>





        <div class="table-responsive">

            <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                <thead>
                <tr>
                    <th scope="col">Müşteri</th>
                    <th scope="col">Ürün</th>
                    <th scope="col">Puan</th>
                    <th scope="col">Tarih</th>

                </tr>
                </thead>
                <tbody id="likesRow">
                <tr>
                    <td>Ali Bilmem</td>
                    <td>Apple Macbook</td>
                    <td>5</td>
                    <td>13.10.2021</td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
    <div class="row" >
        <div class="col-sm-5" >
            <div>1/1</div>
        </div>

        <div class="col-sm-7">
            <div style="float: right">
                <button type="button" class="btn btn-light"> İlk </button>
                <button type="button" class="btn btn-light"> <<< </button>
                <button type="button" class="btn btn-light"> >>> </button>
                <button type="button" class="btn btn-light"> Son </button>
            </div>


        </div>
    </div>


    <div class="main-card mb-3 card mainCart mt-3">
        <div class="card-header cardHeader text-center"> <h4>Ürünlerin Toplam Beğenileri</h4> </div>

        <div class="row mt-3" style="padding-right: 15px; padding-left: 15px;">
            <div class="col-sm-6">

                <div class="row">

                    <div class="col-sm-2 mt-2" style="margin-left: 5px">

                        <p style="color: black"> <b> Sayfa başına </b></p>

                    </div>

                    <div class="col-sm-2">

                        <select class="form-select" name="ltPage" id="ltPage">
                            <option value="5" >5</option>
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="-1">Hepsi</option>
                        </select>

                    </div>

                    <div class="col-sm-7">



                    </div>


                </div>


            </div>
            <div class="col-sm-2"></div>
            <div class="col-sm-1"></div>
            <div class="col-sm-3">
                <div class="input-group flex-nowrap">
                    <span class="input-group-text" id="addon-wrapping2"><i class="fas fa-search"></i></span>
                    <input id="ltsearch" type="text" class="form-control" placeholder="Arama.." aria-label="contentSearch" aria-describedby="addon-wrapping">
                    <button id="likeTotalSearch" class="btn btn-outline-primary">Ara</button>
                </div>
            </div>
        </div>





        <div class="table-responsive">

            <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                <thead>
                <tr>
                    <th scope="col">Ürün</th>
                    <th scope="col">Toplam Puan</th>

                </tr>
                </thead>
                <tbody id="likeTotalRow">
                <tr>
                    <td>Apple MacBook</td>
                    <td>5</td>

                </tr>
                </tbody>
            </table>
        </div>

    </div>
    <div class="row" >
        <div class="col-sm-5" >
            <div>1/1</div>
        </div>

        <div class="col-sm-7">
            <div style="float: right">
                <button type="button" class="btn btn-light"> İlk </button>
                <button type="button" class="btn btn-light"> <<< </button>
                <button type="button" class="btn btn-light"> >>> </button>
                <button type="button" class="btn btn-light"> Son </button>
            </div>


        </div>
    </div>


</th:block>
</body>
</html>