<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="inc/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block layout:fragment="content">

    <div class="row">

        <div class="col-sm-2"></div>
        <div class="col-sm-8">

            <div class="main-card mb-3 card mainCart">
                <div class="card-header cardHeader" style="background-color: #123c69;color: white;text-align: center">Kategori Ekleme</div>

                <form method="post" class="row p-3" id="news_category_add_form" action="/news/category/add" th:object="${newsCategory}">

                    <div class="col-md-3 mb-3 text-center">
                        <label for="nclist" class="form-label" style="color: black"><b>Kategoriler</b></label>
                    </div>
                    <div class="col-md-8 mb-3">
                        <select name="nclist" id="nclist" class="selectpicker" data-width="100%" data-show-subtext="true" data-live-search="true" >


                        </select>
                    </div>

                    <div class="col-md-1"></div>

                    <div class="col-md-3 mb-3 text-center">
                        <label for="nctitle" class="form-label" style="color: black"><b>Kategori Adı</b></label>
                    </div>
                    <div class="col-md-8 mb-3">
                        <input type="text" name="nctitle" id="nctitle" class="form-control" required />
                        <div style="color:red;" th:if="${ #fields.hasErrors('nctitle') }" th:errors="*{nctitle}"></div>
                    </div>

                    <div class="col-md-1"></div>







                    <div class="col-sm-2"></div>
                    <div class="col-md-8"></div>
                    <div class="col-md-1 text-right">

                            <button type="submit" class="btn btn-info mr-1">Ekle</button>
                    </div>




                </form>
            </div>


        </div>
        <div class="col-sm-2"></div>


    </div>


</th:block>

<th:block layout:fragment="script">
    <script th:src="@{/js/newscategoryAdd.js}"></script>
</th:block>


</body>
</html>