<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="inc/layout">
<head>
    <meta charset="UTF-8">
    <title>Ürünler</title>
</head>
<body>
<th:block layout:fragment="content">

    <div class="row mt-3" style="margin-left: 1px">

        <div class="col-sm-5 " >
            <a href="/products/add"><button type="button" class="btn btn-primary"  >Ürün Ekle</button> </a>
            <a href="/products/category/add"><button type="button" class="btn btn-primary"  >Kategoriler</button> </a>
        </div>

    </div>




    <div class="main-card mb-3 card mainCart mt-3">
        <div class="card-header cardHeader">Ürünler</div>

        <div class="row mt-3" style="padding-right: 15px; padding-left: 15px;">
            <div class="col-sm-6">

                <div class="row">

                    <div class="col-sm-2 mt-2" style="margin-left: 5px">

                        <p style="color: black"> <b> Sayfa başına </b></p>

                    </div>

                    <div class="col-sm-2">

                        <select class="form-select" name="cPage" id="cPage">
                            <option value="5" >5</option>
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="-1">Hepsi</option>
                        </select>

                    </div>

                    <div class="col-sm-7">
                    </div>
                </div>
            </div>
            <div class="col-sm-2"></div>
            <div class="col-sm-1"></div>
            <div class="col-sm-3">
                <div class="input-group flex-nowrap">
                    <span class="input-group-text" id="addon-wrapping"><i class="fas fa-search"></i></span>
                    <input id="search" type="text" class="form-control" placeholder="Arama.." aria-label="contentSearch" aria-describedby="addon-wrapping">
                    <button id="contentSearch" class="btn btn-outline-primary">Ara</button>
                </div>
            </div>
        </div>





        <div class="table-responsive">

            <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                <thead>
                <tr>
                    <th scope="col" class="text-center">Ürün Adı</th>
                    <th scope="col" class="text-center">Ürün Başlığı</th>
                    <th scope="col" class="text-center">Açıklama</th>
                    <th scope="col" class="text-center">Kategoriler</th>
                    <th scope="col" class="text-center">İşlemler</th>
                </tr>
                </thead>
                <tbody id="contentRow">
                <tr>
                    <td class="text-center">Araba</td>
                    <td class="text-center">Araba Başlık</td>
                    <td class="text-center">Araba Açıklama</td>
                    <td class="text-center">Araç , Araba</td>
                    <td class="text-center">
                        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                            <button  type="button" class="btn btn-outline-primary "><i class="far fa-trash-alt"></i></button>
                            <button  type="button" class="btn btn-outline-primary "><i class="fas fa-pencil-alt"></i></button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
    <div class="row" >
        <div class="col-sm-5" >
            <div>1/1</div>
        </div>

        <div class="col-sm-7">
            <div style="float: right">
                <button type="button" class="btn btn-light"> İlk </button>
                <button type="button" class="btn btn-light"> <<< </button>
                <button type="button" class="btn btn-light"> >>> </button>
                <button type="button" class="btn btn-light"> Son </button>
            </div>

        </div>
    </div>

</th:block>
</body>
</html>