<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="inc/layout">
<head>
    <meta charset="UTF-8">
    <title>Survey Detail</title>
</head>
<body>
<th:block layout:fragment="content">

    <div class="row">

        <div class="col-sm-3"></div>
        <div class="col-sm-6">

            <div class="main-card mb-3 card mainCart">
                <div class="card-header cardHeader" style="background-color: #123c69;color: white;text-align: center">Anket Detay</div>

                <form method="post" th:object="${surveyredis}" class="row p-3" id="survey_detail_form">

                    <div class="col-md-2 mb-3"></div>
                    <div class="col-md-8 mb-3">
                        <div class="table-responsive">
                            <h4 th:text="${surveyredis.getStitle()}" style="text-align: center"></h4>
                            <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                                <thead>
                                <tr>
                                    <th scope="col" style="text-align: center">Seçenek</th>
                                    <th scope="col" style="text-align: center">Aldığı Oy Sayısı</th>
                                    <th scope="col" style="text-align: center">İşlem</th>

                                </tr>
                                </thead>
                                <tbody id="surveyDetailRow">

                                <tr th:each="item, iter: ${surveyredis.getOptions()}">
                                    <td th:text="${item.getSoption()}"  style="text-align: center"></td>
                                    <td th:text="${item.getVoteNumber()}"  style="text-align: center"></td>
                                    <td style="text-align: center">
                                        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                            <a th:href="@{'/survey/optionDelete/'+ ${surveyredis.getSaid()}+'/'+${iter.index}}"> <button  type="button" class="btn btn-outline-danger "><i class="far fa-trash-alt"></i></button></a>
                                        </div>
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-2"></div>

                    <div class="col-sm-3"></div>

                    <div class="col-md-6" >

                        <a th:href="@{'/survey/edit/'+ ${surveyredis.getSaid()}}"> <button type="button" class="btn btn-info mr-1">Anket Düzenle</button> </a>
                        <a th:href="@{'/survey/option/'+ ${surveyredis.getSaid()}}"> <button type="button" class="btn btn-primary mr-1">Seçenek Ekle</button></a>
                    </div>
                    <div class="col-sm-3"></div>

                </form>
            </div>


        </div>
        <div class="col-sm-3"></div>


    </div>


</th:block>
</body>
</html>